
.cont
{
	width:100%;
	height:auto;
}

.row
{
	width:960px;
	height:auto;
	margin:0px auto;
}

.col-1{width:80px; height:auto; float:left;}
.col-2{width:160px; height:auto; float:left;}
.col-3{width:240px; height:auto; float:left;}
.col-4{width:320px; height:auto; float:left;}
.col-5{width:400px; height:auto; float:left;}
.col-6{width:480px; height:auto; float:left;}
.col-7{width:560px; height:auto; float:left;}
.col-8{width:640px; height:auto; float:left;}
.col-9{width:720px; height:auto; float:left;}
.col-10{width:800px; height:auto; float:left;}
.col-11{width:880px; height:auto; float:left;}
.col-12{width:960px; height:auto; float:left;}

